// VARIABLES FUNCTIONS colors typography media-query extend mixin
$leafgreen: #cdf765;
$background1: #dfd5bc;
$background2: #f3ecda;
$darkgreen: #2b4a44;
$navbarButtonBrown: #bc9d6e;
$navbarButtonBeige: #ece3cd;
$gray: #3b3b3b;

$arial: Arial, Helvetica, sans-serif;